/* 
Hex : #f02d0a
Hex : #9b2d0f
Hex : #780f05
Hex : #3c0505
Hex : #05050a
 */

/* 
 I am using grids in this. So I will have to build fallbacks to older 
 browsers. (or maybe just add a message saying that I didn't have time yet
 So update your browser...)

 I have to then:
 1. Build accessible mobile-first layout without grid
 2. Use mobile-first layout as fall back for all browsers
 3. Use @supports to detect grid support
 display: grid is supported by some browsers, but oder 
 grids properties not. So actually do @support (gridd-template-columns)
 for example to be sure (take a deeper look into that)
 4. Create the layout with grid at the appropriate breakpoints
 of different screen sizes
 5. Take into consideration really large viewports (large screens)
 */

header,
footer,
nav,
article,
main {
  display: block;
  font-family: "Rokkitt", serif;
}

body {
  background-color: #f02d0a;
}

body,
body * {
  border: 0px;
  color: #05050a;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 150px;
  text-align: center;
  text-transform: uppercase;
}

h1 span {
  color: #faa9cb;
}

.article-title {
  font-family: "Anton", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  text-align: center;
}

.alert-success {
  background-color: #faa9cb;
  color: #fdd9eb;
}

.alert-danger {
  background-color: #05050a;
  color: #721c24;
}

.list-group-item {
  background-color: #f02d0a;
  border: none;
}

/* essas duas classes abaixo vem do passport.js, como nao sei como mudar a classe 
 pra ser danger e success tb, to deixando igual a do bootstrap.
 Na verdade, eu posso fazer a de cima virar elas tb, pq isso eu consigo
 fazer. Inclusive, acho o nome error mais apropriado que danger.
 mas vou mecher nisso só no futuro*/
.alert-error {
  background-color: #05050a;
  color: #721c24;
}

.alert-success_msg {
  background-color: #faa9cb;
  color: #fdd9eb;
}

#maindescription {
  text-align: center;
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
}

hr {
  border-top: 1px solid black;
  background-color: #05050a;
}

div.main-box-element {
  font-size: 25px;
  display: grid;
  grid-template-columns: 1fr 25px [start] 10px 325px 10px 325px 10px [end] 25px 1fr;
  text-align: justify;
  margin-top: 30px;
}

div.main-box-element * {
  grid-column: start / end;
}

div.main-box-element .link img {
  width: 80%;
  max-width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  transition: transform 0.2s;
}

div.main-box-element .link img:hover {
  transform: scale(1.008);
}

/* 
 I am not using this anymore bc I ended up liking the way I combined the script image with the flower image in the same one.
 But if in the future I am using two images, I can use this to make the second one be next to it vertically centered
 
 div.main-box-element a .smallerimg
 {
   max-width: 150px;
   position: relative;
     top: 50%;
     
   //bring your own prefixes  
   transform: translate(0, -50%);
 }
 */

@media (max-width: 730px) {
  div.main-box-element {
    grid-template-columns: 1fr 4% [start] 2% 43% 2% 43% 2% [end] 4% 1fr;
  }

  h1 {
    font-size: 19vw;
  }

  #maindescription {
    font-size: 4vw;
  }
}

p {
  background: none;
}

time {
  font-size: 20px;
  margin-bottom: 1em;
}

div.main-box-element p {
  margin-bottom: 1em;
}

.link#biglogo {
  text-decoration: none;
}

p .link {
  color: #e69696;
  text-decoration: none;
}

p .link:hover {
  text-decoration: underline;
}
/* This is a pseudo-class (:) to signilize when you hove a mouse over it. Oder pseudo-classes are
 first-child, last-child */

.article-title:hover {
  color: #e69696;
}

.form-top {
  margin-top: 5px;
}

.field-form-top {
  width: 30%;
  height: 30px;
  margin-right: 10px;
  padding-left: 10px;
  outline: none;
  border-bottom: 2px solid black;
  background-color: #f02d0a;
  font-size: 17px;
}

.field-form-top::-webkit-input-placeholder /* Chrome/Opera/Safari */
 {
  color: #05050a;
  font-family: "Rokkitt", serif;
}
.field-form-top::-moz-placeholder /* Firefox 19+ */
 {
  color: #05050a;
  font-family: "Rokkitt", serif;
}
.field-form-top:-ms-input-placeholder /* IE 10+ */
 {
  color: #05050a;
  font-family: "Rokkitt", serif;
}
.field-form-top:-moz-placeholder /* Firefox 18- */
 {
  color: #05050a;
  font-family: "Rokkitt", serif;
}

.button-form-top {
  font-size: 13px;
  font-weight: bold;
  margin-left: 4%;
  padding: 8px 13px;
}

.entrar {
  background: #05050a;
  color: #faa9cb;
}

.registrar {
  background: #faa9cb;
  color: #05050a;
}

@media (max-width: 730px) {
  .button-form-top {
    padding: 5px 10px;
    margin-left: 2%;
  }
}

@media (max-width: 612px) {
  .field-form-top {
    width: 40%;
    margin: 5px;
  }

  .button-form-top {
    width: 45%;
    margin: 5px;
  }
}

.form-line {
  text-align: left;
}

.form-field {
  width: 100%;
  height: 40px;
}

#body-field {
  height: 400px;
}

.button {
  background: #faa9cb;
  border-radius: 7px;
  border: 1px solid #faa9cb;
  box-shadow: grey 0 0 5px;
  color: #05050a;
  font-size: 13px;
  font-weight: bold;
  margin-left: 10px;
  padding: 3px 8px;
  float: right;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.copyright {
  text-align: center;
}

/* START This is about the placeholder of the input field of cacurindr */

input[type="text"]::placeholder {
  /* Firefox, Chrome, Opera */
  color: #9f9da1;
}

input[type="text"]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9f9da1;
}

input[type="text"]::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #9f9da1;
}

/* END This is about the placeholder of the input field of cacurindr */

/* START Removing the highlight from these elements when they are clicked */

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* END Removing the highlight from these elements when they are clicked */

.foto {
  margin: 20px;
  padding: 100px;
}
