/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/* 
Hex : #f02d0a
Hex : #9b2d0f
Hex : #780f05
Hex : #3c0505
Hex : #05050a
 */

/* 
 I am NOT using grids in this ANYMORE. GOT RID OF IT!!! :))
 So I will have to build fallbacks to older 
 browsers. (or maybe just add a message saying that I didn't have time yet
 So update your browser...)

 I have to then:
 1. Build accessible mobile-first layout without grid
 2. Use mobile-first layout as fall back for all browsers
 3. Use @supports to detect grid support
 display: grid is supported by some browsers, but oder 
 grids properties not. So actually do @support (gridd-template-columns)
 for example to be sure (take a deeper look into that)
 4. Create the layout with grid at the appropriate breakpoints
 of different screen sizes
 5. Take into consideration really large viewports (large screens)
 */

header,
footer,
nav,
article,
main {
  display: block;
  font-family: "Rokkitt", serif;
}

/* Removing the highlight from these elements when they are clicked */

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* the links of the page continue having an outline, bc the person 
 might want to select them with tab and press enter.
 I just changed it from the ugly default blue*/

body *:focus {
  outline-color: #05050a;
  outline-offset: -0.15em;
}

body {
  background-color: #f02d0a;
  font-family: "Rokkitt", serif;
  color: #05050a;
}

body,
body * {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

/* Page main description */

header {
  /* empty space for the fixed AuthNavBar */
  margin-top: 60px;
  color: #05050a;
}

header h1 {
  font-family: "Anton", sans-serif;
  font-size: 150px;
  text-align: center;
  text-transform: uppercase;
}

header h1 span {
  color: #faa9cb;
}

header h2 {
  text-align: center;
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
}

/* central box organization of the page */

.main-box-element {
  margin: auto;
  width: 865px;
}

.main-box-element {
  margin-top: 30px;
}

/* responsiveness of main description and box organization */

@media (max-width: 766px) {
  header h1 {
    font-size: 19vw;
  }

  header h2 {
    font-size: 4vw;
  }
}

@media (max-width: 880px) {
  .main-box-element {
    max-width: 100%;
  }
}

/* article feed */

.article-feed-main-box-element {
  margin: auto;
  width: 865px;
  margin-top: 30px;
}

@media (max-width: 880px) {
  .article-feed-main-box-element {
    max-width: 100%;
  }
}

.article-feed-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.article-feed-item {
  background-color: transparent;
  border: none;
  padding: 0;
  max-width: 350px;
  max-height: 250px;
  width: 350px;
  height: 250px;
  position: relative;
  margin: 15px 5px;
}

.article-feed-item img {
  width: 350px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1em;
}

@media (max-width: 720px) {
  .article-feed-item {
    max-width: 310px;
    max-height: 220px;
    width: 310px;
    height: 220px;
  }

  .article-feed-item img {
    width: 310px;
    height: 220px;
  }
}

@media (max-width: 720px) {
  .article-feed-item {
    max-width: 48vw;
    max-height: 34vw;
    width: 48vw;
    height: 34vw;
  }

  .article-feed-item img {
    width: 48vw;
    height: 34vw;
  }
}

@media (max-width: 550px) {
  .article-feed-item {
    max-width: 95vw;
    max-height: 67vw;
    width: 95vw;
    height: 67vw;
  }

  .article-feed-item img {
    width: 95vw;
    height: 67vw;
  }
}

.article-feed-img-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f02d0a19; /* 10% opacity */
  z-index: 1;
}

.article-feed-item-text {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 60px 0 5px 5px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#05050a),
    to(#f02d0a00)
  );
  background-image: -o-linear-gradient(bottom, #05050a, #f02d0a00);
  background-image: linear-gradient(to top, #05050a, #f02d0a00);
  z-index: 2;
}

.article-feed-item-text .article-title {
  font-family: "Anton", sans-serif;
  font-size: 30px;
  color: #e69696;
  text-transform: uppercase;
  overflow-wrap: break-word;
}

.article-feed-item-text .article-title:hover {
  color: #f02d0a;
  text-decoration: none;
}

.article-feed-item-text time {
  color: #e69696;
}

.article-feed-item-text .user-link {
  color: #f02d0a;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.article-feed-item-text .user-link:hover {
  color: #f02d0a;
  text-decoration: underline;
}

/* ArticlePage elements */

.article-page-main-box-element {
  margin: auto;
  width: 865px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-left: 1px solid #05050a;
  border-right: 1px solid #05050a;
}

@media (max-width: 880px) {
  .article-page-main-box-element {
    max-width: 96%;
    margin: auto;
  }
}

.article-cover {
  position: relative;
}

.article-cover img {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 30%;
  object-position: 50% 30%;
}

.article-cover-img-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f02d0a26; /* 15% opacity */
  z-index: 1;
}

.article-cover-img-text {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 30px 0 60px 10px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#05050a),
    to(#05050a00)
  );
  background-image: -o-linear-gradient(#05050a, #05050a00);
  background-image: linear-gradient(#05050a, #05050a00);
  z-index: 2;
}

.article-cover-text {
  width: 100%;
  padding: 10px;
}

.article-cover-img-text .article-title {
  font-family: "Anton", sans-serif;
  font-size: 45px;
  width: 55%;
  color: #e69696;
  text-transform: uppercase;
  overflow-wrap: break-word;
}

.article-cover-text .article-title {
  font-family: "Anton", sans-serif;
  font-size: 45px;
  color: #05050a;
  text-transform: uppercase;
  overflow-wrap: break-word;
}

@media (max-width: 880px) {
  .article-cover-img-text {
    font-size: 5.6vw;
    padding: 0.5em 0 1em 10px;
  }

  .article-cover-img-text .article-title {
    font-size: 5.6vw;
  }

  .article-cover img {
    max-height: 45vw;
  }

  .article-cover-img-text time {
    max-width: 10vw;
  }
}

.article-cover-img-text time {
  color: #e69696;
  font-size: 16px;
  font-family: "Rokkitt", serif;
}

@media (max-width: 480px) {
  .article-cover-img-text time {
    font-size: 3vw;
  }
}

.article-cover-img-text time p {
  line-height: 0.9;
}

.article-cover-img-text time p:first-child {
  padding-top: 20px;
}

.article-cover-img-text .user-link {
  color: #f02d0a;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.article-cover-img-text .user-link:hover {
  color: #f02d0a;
  text-decoration: underline;
}

.article-cover-text .user-link {
  color: #faa9cb;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.article-cover-text .user-link:hover {
  color: #faa9cb;
  text-decoration: underline;
}

.article-body {
  width: 95%;
  margin: 10px auto;
}

.article-body p:first-child,
.article-body h2:first-child,
.article-body h3:first-child,
.article-body h4:first-child,
.article-body h5:first-child,
.article-body h6:first-child,
.article-body figure:first-child,
.article-body blockquote:first-child,
.article-body ul:first-child,
.article-body ol:first-child {
  border-top: solid #05050a 5px;
  padding-top: 20px;
}

.article-body figure img {
  max-width: 80%;
  max-height: 400px;
  height: auto;
  max-height: 50vh;
  display: block;
  margin: 10px auto;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  position: relative;
}

.article-body figure img:hover {
  -webkit-transform: scale(1.008);
  -ms-transform: scale(1.008);
  transform: scale(1.008);
}

.article-body figure {
  position: relative;
}

.article-body figure:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f02d0a;
  opacity: 0.15;
  z-index: 1;
}

.article-body h2 {
  margin-top: 0.5em;
}

.article-body h3 {
  margin-top: 0.4em;
}

.article-body h4 {
  margin-top: 0.3em;
}

.article-body h5 {
  margin-top: 0.2em;
}

.article-body h6 {
  margin-top: 0.1em;
  color: #565d68;
}

.article-body blockquote {
  font-family: "Rokkitt", serif;
  font-style: italic;
  font-size: 1.3em;
  border-left: 5px solid #05050a;
  margin: 0.5em;
  padding-left: 15px;
  position: relative;
  z-index: 1;
}

.article-body blockquote:before {
  font-size: 4em;
  color: #05050a57;
  content: open-quote;
  position: absolute;
  top: -0.4em;
  left: -0.05em;
  z-index: 2;
}

.article-body blockquote:after {
  content: close-quote;
}

.article-body p,
.article-body ul,
.article-body ol {
  background: none;
  font-family: "Rokkitt", serif;
  font-size: 25px;
  text-align: justify;
}

.article-body ul li,
.article-body ol li {
  margin-left: 1em;
}

.article-body ul {
  list-style-type: disc;
}

.article-body ul ul {
  list-style-type: circle;
}

.article-body p a {
  color: #e69696;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  z-index: 10;
}

.article-body p a:hover {
  text-decoration: underline;
}

/* responsiveness of article elements */

@media (max-width: 766px) {
  .article-body p,
  .article-body ul,
  .article-body ol {
    font-size: 18px;
  }
}

/* User page elements */

.nav-tabs {
  border-bottom: 2px solid #faa9cb;
  margin-bottom: 20px;
}

.nav-tabs .nav-link {
  border: none;
}

.nav-item {
  margin-bottom: none;
}

.nav-item:hover {
  margin-bottom: none;
}

.nav-link {
  font-family: "Rokkitt", serif;
  font-size: 20px;
}

.nav-link:focus,
.nav-link:hover {
  text-decoration: none;
  cursor: pointer;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #05050a;
  background-color: #faa9cb;
  border: none;
}

/* alerts */

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 20px;
  border: none;
}

.alert-success, /* bootstrap */
 .alert-success_msg /* passport.js */ {
  background-color: #faa9cb;
  color: #fdd9eb;
}

.alert-danger, /* bootstrap */
 .alert-error  /* passport.js */ {
  background-color: #05050a;
  color: #721c24;
}

.add-article-alert {
  margin-bottom: 0;
  margin-top: 1rem;
}

/* AuthNavBar */

.authnavbar-main-box-element {
  margin: auto;
  width: 865px;
}

@media (max-width: 880px) {
  .authnavbar-main-box-element {
    max-width: 100%;
  }
}

.navbar-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navbar-wrapper-brand-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-item {
  text-align: right;
}

.field-form-top {
  -webkit-box-shadow: none;
  box-shadow: none;
  max-width: 140px;
  height: 30px;
  margin: 0 2px;
  padding-left: 10px;
  outline: none;
  border: none;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid black;
  background-color: #f02d0a;
  font-size: 17px;
  color: #05050a;
}

.field-form-top:focus {
  background-color: #f02d0a;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid black;
  color: #05050a;
}

/* Change Autocomplete styles in Chrome*/
.field-form-top:-webkit-autofill,
.field-form-top:-webkit-autofill:hover,
.field-form-top:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #faa9cb inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.button-form-top {
  border: none;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 13px;
  margin: 0;
  margin-bottom: 2px;
  outline: none;
}

.button-form-top:focus,
.button-form-top:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.login,
.login:hover,
.login:active,
.post-article,
.post-article:hover,
.post-article:active {
  background-color: #05050a !important;
  color: #faa9cb !important;
  margin-top: 1px; /* to align with register button  */
  margin-left: 10px;
}

.languages,
.languages:hover {
  background: #490d02;
  padding: 0px 2px;
}

@media (max-width: 767px) {
  .languages,
  .languages:hover {
    padding: 0px 2px 1px 2px;
  }
}

.register,
.register:hover,
.register:active,
.logout,
.logout:hover,
.logout:active {
  background-color: #faa9cb !important;
  color: #05050a !important;
  margin-left: 30px;
}

.language-modal {
  border: 1px solid #05050a;
  background-color: #faa9cb;
  -webkit-box-shadow: 3px 3px 5px #05050a !important;
  box-shadow: 3px 3px 5px #05050a !important;
  padding: 0;
  min-width: 0;
}

.language-modal button {
  padding: 1px 2px;
}

.language-modal button:hover {
  background-color: #fccbdf;
}

.language-modal button button {
  background-color: transparent;
}

.authnavbar-greeting-username .user-link {
  color: #e69696;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.authnavbar-greeting-username .user-link:hover {
  color: #e69696;
  text-decoration: underline;
}

.greeting-inside-collapse {
  font-size: 25px;
}

.greeting-outside-collapse {
  font-size: 25px;
  margin-right: 10px;
  display: none;
}

@media (max-width: 766px) {
  .greeting-inside-collapse {
    display: none;
  }

  .greeting-outside-collapse {
    display: inline;
  }

  .form-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .field-form-top {
    max-width: 140px;
  }

  .login {
    margin-left: 0;
    margin-top: 2px;
    padding: 8px 54px;
  }

  .register {
    margin-left: 0;
    margin-top: 2px;
    padding: 8px 41px;
  }
}

/* RegisterModal */

.register-modal * {
  font-family: "Rokkitt", serif;
}

.modal-header {
  border-bottom: 1px solid #05050a;
}

.modal-header,
.modal-body {
  background-color: #faa9cb;
}

.modal-title {
  font-family: "Anton", sans-serif;
}

.modal-body label {
  margin-top: 0.5rem;
  font-size: 25px;
}

.modal-body input,
.modal-body input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: none;
  color: #05050a;
  box-shadow: none;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid black;
  background-color: #faa9cb;
}

/* Change Autocomplete styles in Chrome*/
.modal-body input:-webkit-autofill,
.modal-body input:-webkit-autofill:hover,
.modal-body input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #f02d0a3d inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/* AddArticlePage */

.post-article-main-box-element {
  margin: auto;
  margin-top: 70px;
  width: 865px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-left: 1px solid #05050a;
  border-right: 1px solid #05050a;
}

@media (max-width: 880px) {
  .post-article-main-box-element {
    max-width: 96%;
    margin: auto;
    margin-top: 70px;
  }
}

.post-article-cover {
  position: relative;
}

.post-article-cover img {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 30%;
  object-position: 50% 30%;
}

.post-article-cover-img-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f02d0a26; /* 15% opacity */
  z-index: 1;
}

.post-article-cover-text {
  width: 100%;
  padding-left: 10px;
}

.post-article-cover-img-text {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 30px 0 60px 10px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#05050a),
    to(#05050a00)
  );
  background-image: -o-linear-gradient(#05050a, #05050a00);
  background-image: linear-gradient(#05050a, #05050a00);
  z-index: 2;
}

.post-article-title .title-textarea-with-img,
.post-article-title .title-textarea-with-img:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: none;
  box-shadow: none;
  font-family: "Anton", sans-serif;
  background: transparent;
  height: 67px;
  max-height: 310px;
  font-size: 45px;
  width: 55%;
  color: #e69696;
  text-transform: uppercase;
  overflow-wrap: break-word;
  resize: none;
  overflow: hidden;
}

.post-article-title .title-textarea-without-img,
.post-article-title .title-textarea-without-img:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: none;
  box-shadow: none;
  font-family: "Anton", sans-serif;
  height: 67px;
  max-height: 310px;
  font-size: 45px;
  color: #05050c;
  background-color: #f02d0a;
  text-transform: uppercase;
  margin-bottom: 0px;
  width: 100%;
  padding: 0;
  resize: none;
  overflow: hidden;
}

@media (max-width: 880px) {
  .post-article-cover-img-text {
    font-size: 5.6vw;
    padding: 0.5em 0 1em 10px;
  }

  .post-article-cover img {
    max-height: 45vw;
  }

  .post-article-cover-img-text time {
    max-width: 10vw;
  }

  .post-article-title .title-textarea-with-img,
  .post-article-title .title-textarea-with-img:focus {
    height: 8.3vw;
    max-height: 33vw;
    font-size: 5.6vw;
  }

  .post-article-title .title-textarea-without-img,
  .post-article-title .title-textarea-without-img:focus {
    height: 8.4vw;
    max-height: 33vw;
    font-size: 5.6vw;
  }
}

.post-article-cover-img-text time {
  color: #e69696;
  font-size: 16px;
  font-family: "Rokkitt", serif;
}

@media (max-width: 480px) {
  .post-article-cover-img-text time {
    font-size: 3vw;
  }
}

.post-article-cover-img-text time p {
  line-height: 0.9;
}

.post-article-cover-img-text time p:first-child {
  padding-top: 0px;
}

.post-article-cover-img-text .user-link {
  color: #f02d0a;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.post-article-cover-img-text .user-link:hover {
  color: #f02d0a;
  text-decoration: underline;
}

.post-article-cover-text .user-link {
  color: #faa9cb;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.post-article-cover-text .user-link:hover {
  color: #faa9cb;
  text-decoration: underline;
}

.button-add-cover-img {
  border: none;
  font-size: 18px;
  padding: 0px 5px;
  margin: 0;
  outline: none;
  background-color: #faa9cbb7 !important;
  color: #05050a !important;
  position: absolute;
  bottom: 7px;
  right: 20px;
  z-index: 3;
}

@media (max-width: 480px) {
  .button-add-cover-img {
    font-size: 4vw;
  }
}

.button-add-cover-img:focus,
.button-add-cover-img:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* WYSIWYG Editor */

.rdw-editor-main {
  width: 95%;
  margin: 5px auto;
  border-top: solid #05050a 5px;
  padding-top: 10px;
}

.DraftEditor-root,
.DraftEditor-root:focus,
.DraftEditor-editorContainer,
.DraftEditor-editorContainer:focus,
.public-DraftEditor-content,
.public-DraftEditor-content:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: none;
  box-shadow: none;
}

.DraftEditor-root,
.DraftEditor-root:focus,
.DraftEditor-editorContainer,
.DraftEditor-editorContainer:focus,
.public-DraftEditor-content,
.public-DraftEditor-content:focus {
  background-color: #f02d0a;
}

.public-DraftEditor-content,
.public-DraftEditor-content:focus {
  font-size: 25px;
}

@media (max-width: 766px) {
  .public-DraftEditor-content,
  .public-DraftEditor-content:focus {
    font-size: 18px;
  }
}

.DraftEditor-root,
.DraftEditor-root:focus {
  padding: 5px 0px;
  overflow-y: auto;
}

.DraftEditor-editorContainer,
.public-DraftEditor-content {
  height: 100%;
}

.public-DraftEditor-content {
  min-height: 50vh;
}

.public-DraftEditorPlaceholder-root {
  z-index: 2;
  font-size: 25px;
  color: #05050a8c;
}

@media (max-width: 766px) {
  .public-DraftEditorPlaceholder-root {
    font-size: 18px;
  }
}

.submit-register,
.submit-register:hover,
.submit-post-article,
.submit-post-article:hover {
  background-color: #05050a;
  color: #faa9cb;
  font-size: 17px;
  margin-top: 2rem;
}

.submit-post-article,
.submit-post-article:hover {
  margin: auto;
  width: 95%;
}

/* wysiwyg editor */

.public-DraftStyleDefault-block {
  margin: 0;
}

.rdw-editor-wrapper {
  margin-top: 10px;
}

.rdw-dropdown-wrapper:hover,
.rdw-inline-wrapper .rdw-option-wrapper:hover,
.rdw-dropdown-optionwrapper:hover,
.rdw-embedded-wrapper:hover,
.rdw-emoji-wrapper:hover,
.rdw-image-wrapper:hover,
.rdw-remove-wrapper:hover {
  -webkit-box-shadow: 1px 1px 2px #05050a;
  box-shadow: 1px 1px 2px #05050a;
}

.rdw-editor-toolbar {
  background-color: #f02d0a;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  padding: 0 5px 0;
  margin-bottom: 0;
}

.rdw-inline-wrapper .rdw-option-wrapper:hover,
.rdw-dropdownoption-highlighted,
.rdw-dropdown-wrapper:hover,
.rdw-embedded-wrapper:hover,
.rdw-emoji-wrapper:hover,
.rdw-image-wrapper:hover,
.rdw-remove-wrapper:hover {
  background-color: #fccbdf;
}

.rdw-inline-wrapper .rdw-option-wrapper,
.rdw-dropdown-wrapper,
.rdw-dropdown-optionwrapper,
.rdw-dropdown-optionwrapper:hover,
.rdw-embedded-wrapper,
.rdw-emoji-wrapper,
.rdw-image-wrapper,
.rdw-remove-wrapper,
.rdw-embedded-modal,
.rdw-link-modal,
.rdw-image-modal,
.rdw-emoji-modal {
  border: 1px solid #05050a;
  background-color: #faa9cb;
}

.rdw-embedded-modal-link-input,
.rdw-embedded-modal-size-input,
.rdw-link-modal-input,
.rdw-image-modal-url-input,
.rdw-image-modal-size-input {
  border: none;
  border-bottom: 2px solid #05050a;
  background-color: #faa9cb;
}

.rdw-block-dropdown {
  width: 160px;
}

.rdw-inline-wrapper .rdw-option-wrapper,
.rdw-embedded-wrapper,
.rdw-emoji-wrapper,
.rdw-image-wrapper,
.rdw-remove-wrapper {
  margin: 0 3px;
  height: 30px;
  width: 30px;
}

.rdw-embedded-wrapper .rdw-option-wrapper,
.rdw-emoji-wrapper .rdw-option-wrapper,
.rdw-image-wrapper .rdw-option-wrapper,
.rdw-remove-wrapper .rdw-option-wrapper {
  margin: 0px;
  height: 30px;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 6px;
}

.rdw-link-modal {
  height: 235px;
}

.rdw-embedded-modal,
.rdw-link-modal,
.rdw-image-modal,
.rdw-emoji-modal,
.rdw-dropdown-optionwrapper {
  -webkit-box-shadow: 3px 3px 5px #05050a !important;
  box-shadow: 3px 3px 5px #05050a !important;
}

.rdw-remove-wrapper .rdw-option-wrapper:active {
  background-color: #7d5465;
}

.rdw-option-active,
.rdw-dropdown-wrapper[aria-expanded="true"],
.rdw-embedded-wrapper[aria-expanded="true"],
.rdw-emoji-wrapper[aria-expanded="true"],
.rdw-image-wrapper[aria-expanded="true"] {
  -webkit-box-shadow: 1.3px 1.3px 0px #7d5465 inset !important;
  box-shadow: 1.3px 1.3px 0px #7d5465 inset !important;
  background-color: #e198b6 !important;
}

.rdw-dropdownoption-active {
  border: 1px solid #c887a2;
  -webkit-box-shadow: 1px 1px 0px #7d5465 inset !important;
  box-shadow: 1px 1px 0px #7d5465 inset !important;
  background-color: #e198b6 !important;
}

.rdw-embedded-modal-header-label,
.rdw-image-modal-header-label-highlighted {
  border: none;
  border-bottom: none;
}

.rdw-image-modal-header {
  margin: 0;
}

.rdw-embedded-modal-header-option,
.rdw-link-modal-label,
.rdw-image-modal-header-option {
  width: 100%;
  font-family: "Anton", sans-serif;
  font-size: 17px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.rdw-embedded-modal-link-input,
.rdw-image-modal-url-input {
  margin: 3px 0;
  height: 25px;
}

.rdw-embedded-modal-btn,
.rdw-link-modal-btn,
.rdw-image-modal-btn {
  background-color: #05050a;
  color: #faa9cb;
  border: 0;
}

.rdw-embedded-modal-btn:hover,
.rdw-link-modal-btn:hover,
.rdw-image-modal-btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.rdw-embedded-modal-btn:disabled,
.rdw-link-modal-btn:disabled,
.rdw-image-modal-btn:disabled {
  display: none;
}

.rdw-image-alignment-options-popup,
.rdw-image-alignment-option {
  background: #faa9cb;
  border: none;
  margin: 0 8px;
}

.rdw-block-wrapper .rdw-dropdown-wrapper ul li:nth-child(2) {
  font-size: 1.95em;
}

.rdw-block-wrapper .rdw-dropdown-wrapper ul li:nth-child(3) {
  font-size: 1.75em;
}

.rdw-block-wrapper .rdw-dropdown-wrapper ul li:nth-child(4) {
  font-size: 1.5em;
}

.rdw-block-wrapper .rdw-dropdown-wrapper ul li:nth-child(5) {
  font-size: 1.25em;
}

.rdw-block-wrapper .rdw-dropdown-wrapper ul li:nth-child(6) {
  color: #565d68;
}

.rdw-block-wrapper .rdw-dropdown-wrapper ul li:nth-child(7) {
  font-style: italic;
  font-size: 1.3em;
  border-left: 5px solid #05050a;
  margin: 0.5em;
  padding-left: 10px;
  position: relative;
  z-index: 1;
}

.rdw-block-wrapper .rdw-dropdown-wrapper ul li:nth-child(7):before {
  font-size: 3.5em;
  position: absolute;
  z-index: 2;
  top: -0.4em;
  left: -0.1em;
  color: #05050a57;
  content: open-quote;
}

.rdw-block-wrapper .rdw-dropdown-wrapper ul li:nth-child(7):after {
  content: close-quote;
}

.public-DraftEditor-content * {
  color: inherit;
  background-color: #f02d0a;
  font-family: inherit;
}

.public-DraftEditor-content h2 {
  margin-top: 0.5em;
}

.public-DraftEditor-content h3 {
  margin-top: 0.4em;
}

.public-DraftEditor-content h4 {
  margin-top: 0.3em;
}

.public-DraftEditor-content h5 {
  margin-top: 0.2em;
}

.public-DraftEditor-content h6 {
  margin-top: 0.1em;
  color: #565d68;
}

.public-DraftStyleDefault-ol,
.public-DraftStyleDefault-ul {
  margin: 0;
}

.rdw-editor-main blockquote {
  font-style: italic;
  font-size: 1.3em;
  border-left: 5px solid #05050a;
  margin: 0.5em;
  padding-left: 15px;
}

.rdw-editor-main blockquote div:before {
  font-size: 4em;
  position: absolute;
  top: -0.4em;
  left: -0.25em;
  color: #05050a57;
  content: open-quote;
}

.rdw-editor-main blockquote div:after {
  content: close-quote;
}

.rdw-link-decorator-wrapper a {
  color: #e69696;
  text-decoration: none;
}

.rdw-link-decorator-wrapper a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.rdw-link-decorator-icon {
  background: transparent;
}

/* styling the placeholders in different browsers */

.modal-body input::-webkit-input-placeholder,
 .field-form-top::-webkit-input-placeholder,
 .rdw-embedded-modal-link-input::-webkit-input-placeholder /* Chrome/Opera/Safari */
 {
  color: #05050a;
  font-family: "Rokkitt", serif;
  font-size: 15px;
}
.modal-body input::-moz-placeholder,
 .field-form-top::-moz-placeholder,
 .rdw-embedded-modal-link-input::-moz-placeholder /* Firefox 19+ */
 {
  color: #05050a;
  font-family: "Rokkitt", serif;
  font-size: 15px;
}
.modal-body input:-ms-input-placeholder,
 .field-form-top:-ms-input-placeholder,
 .rdw-embedded-modal-link-input:-ms-input-placeholder /* IE 10+ */
 {
  color: #05050a;
  font-family: "Rokkitt", serif;
  font-size: 15px;
}
.modal-body input:-moz-placeholder,
 .field-form-top:-moz-placeholder,
 .rdw-embedded-modal-link-input:-moz-placeholder /* Firefox 18- */
 {
  color: #05050a;
  font-family: "Rokkitt", serif;
  font-size: 15px;
}

@media (max-width: 370px) {
  .modal-body input::-webkit-input-placeholder {
    font-size: 12.5px;
  }
  .modal-body input::-moz-placeholder {
    font-size: 12.5px;
  }
  .modal-body input:-ms-input-placeholder {
    font-size: 12.5px;
  }
  .modal-body input:-moz-placeholder {
    font-size: 12.5px;
  }
}

.post-article-title .title-textarea-without-img::-webkit-input-placeholder  /* Chrome/Opera/Safari */
 {
  font-family: "Anton", sans-serif;
  font-size: 45px;
  color: #05050a8c;
  text-transform: uppercase;
}
.post-article-title .title-textarea-without-img::-moz-placeholder /* Firefox 19+ */
 {
  font-family: "Anton", sans-serif;
  font-size: 45px;
  color: #05050a8c;
  text-transform: uppercase;
}
.post-article-title .title-textarea-without-img:-ms-input-placeholder /* IE 10+ */
 {
  font-family: "Anton", sans-serif;
  font-size: 45px;
  color: #05050a8c;
  text-transform: uppercase;
}
.post-article-title .title-textarea-without-img:-moz-placeholder /* Firefox 18- */
 {
  font-family: "Anton", sans-serif;
  font-size: 45px;
  color: #05050a8c;
  text-transform: uppercase;
}

.post-article-title .title-textarea-with-img::-webkit-input-placeholder {
  font-family: "Anton", sans-serif;
  font-size: 45px;
  color: #e696968c;
  text-transform: uppercase;
}

.post-article-title .title-textarea-with-img::-moz-placeholder {
  font-family: "Anton", sans-serif;
  font-size: 45px;
  color: #e696968c;
  text-transform: uppercase;
}

.post-article-title .title-textarea-with-img:-ms-input-placeholder {
  font-family: "Anton", sans-serif;
  font-size: 45px;
  color: #e696968c;
  text-transform: uppercase;
}

.post-article-title .title-textarea-with-img:-moz-placeholder {
  font-family: "Anton", sans-serif;
  font-size: 45px;
  color: #e696968c;
  text-transform: uppercase;
}

@media (max-width: 880px) {
  .post-article-title .title-textarea-without-img::-webkit-input-placeholder  /* Chrome/Opera/Safari */
 {
    font-size: 5.6vw;
  }
  .post-article-title .title-textarea-without-img::-moz-placeholder /* Firefox 19+ */
 {
    font-size: 5.6vw;
  }
  .post-article-title .title-textarea-without-img:-ms-input-placeholder /* IE 10+ */
 {
    font-size: 5.6vw;
  }
  .post-article-title .title-textarea-without-img:-moz-placeholder /* Firefox 18- */
 {
    font-size: 5.6vw;
  }

  .post-article-title .title-textarea-with-img::-webkit-input-placeholder {
    font-size: 5.6vw;
  }

  .post-article-title .title-textarea-with-img::-moz-placeholder {
    font-size: 5.6vw;
  }

  .post-article-title .title-textarea-with-img:-ms-input-placeholder {
    font-size: 5.6vw;
  }

  .post-article-title .title-textarea-with-img:-moz-placeholder {
    font-size: 5.6vw;
  }
}

/* User profile */

.user-profile-main-box-element {
  margin: auto;
  margin-top: 70px;
  width: 865px;
  height: 400px;
  background-color: #05050a;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 35px -3px rgba(250, 169, 203, 0.69);
  -moz-box-shadow: 0px 0px 35px -3px rgba(250, 169, 203, 0.69);
  box-shadow: 0px 0px 35px -3px rgba(250, 169, 203, 0.69);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.profile-pic-container {
  position: relative;
  width: 400px;
  height: 410px;
}

.profile-pic-focus {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: -5px;
  left: -5px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 25px -6px #faa9cb;
  -moz-box-shadow: 0px 0px 25px -6px #faa9cb;
  box-shadow: 0px 0px 25px -6px #faa9cb;
}

.profile-pic-nav-arrows {
  position: absolute;
  bottom: 5.5%;
  z-index: 100;
  width: 100%;
}

.back-arrow {
  position: absolute;
  left: 20%;
  max-height: 35px;
}

.next-arrow {
  position: absolute;
  left: 65%;
  max-height: 35px;
}

.back-arrow:hover,
.next-arrow:hover {
  cursor: pointer;
}

.profile-header {
  width: 460px;
  height: 400px;
}

.user-profile-title {
  font-family: "Anton", sans-serif;
  font-size: 45px;
  color: #faa9cb;
  text-align: center;
  margin: 20px;
  text-transform: uppercase;
  overflow-wrap: break-word;
}

.user-profile-counters {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 100px;
}

.article-counter {
  color: #faa9cb;
  font-size: 16px;
}

.article-counter span {
  font-size: 35px;
}

.user-profile-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.profile-buttons {
  border: none;
  border-radius: 100px;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 40px;
  outline: none;
  color: #05050a;
}

.profile-buttons:focus,
.profile-buttons:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.send-message-button {
  background-color: #faa9cb;
}

.edit-profile-button {
  background-color: #f02d0a;
}

@media (max-width: 880px) {
  .user-profile-main-box-element {
    max-width: 93%;
    max-height: 46vw;
    margin: auto;
    margin-top: 70px;
    -webkit-box-shadow: 0px 0px 4.2vw -0.4vw rgba(250, 169, 203, 0.69);
    -moz-box-shadow: 0px 0px 4.2vw -0.4vw rgba(250, 169, 203, 0.69);
    box-shadow: 0px 0px 4.2vw -0.4vw rgba(250, 169, 203, 0.69);
  }

  .profile-pic-container {
    position: relative;
    width: 46%;
    height: 102.5%;
  }

  .profile-pic-focus {
    width: 100%;
    height: 100%;
    top: -0.6vw;
    left: -0.6vw;
    -webkit-box-shadow: 0px 0px 3vw -0.6vw #faa9cb;
    -moz-box-shadow: 0px 0px 3vw -0.6vw #faa9cb;
    box-shadow: 0px 0px 3vw -0.6vw #faa9cb;
  }

  .back-arrow {
    max-height: 4vw;
  }

  .next-arrow {
    max-height: 4vw;
  }

  .profile-header {
    width: 53.5%;
    height: 100%;
  }

  .user-profile-title {
    font-size: 4.5vw;
    margin: 20px;
  }

  .user-profile-counters {
    margin-top: 10vw;
  }

  .article-counter {
    font-size: 3vw;
  }

  .article-counter span {
    font-size: 5vw;
  }

  .user-profile-buttons {
    margin-top: 3vw;
  }

  .profile-buttons {
    font-size: 2.5vw;
    padding: 0.5vw 5vw;
  }
}

/* EditProfile page */

.edit-profile-main-box-element {
  margin: auto;
  margin-top: 70px;
  width: 865px;
  background-color: #faa9cb;
  border: 1px solid #05050a;
  border-radius: 5px;
}

.edit-profile-header {
  border-bottom: 1px solid #05050a;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.edit-profile-title {
  font-family: "Anton", sans-serif;
}

.edit-profile-cancel {
  color: #05050aaf;
  width: 60px;
  text-align: center;
}

.edit-profile-cancel:hover,
.edit-profile-header a:hover {
  color: #05050a;
  cursor: pointer;
  text-decoration: none;
}

.edit-profile-body {
  padding: 1rem;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
}

.edit-profile-form label {
  font-size: 25px;
}

.edit-profile-form-input {
  font-size: 16px;
  border: none;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid black;
  margin-bottom: 25px;
  padding: 0.375rem 0.75rem;
  background-color: #faa9cb;
}

/* Change Autocomplete styles in Chrome*/
.edit-profile-form input:-webkit-autofill,
.edit-profile-form input:-webkit-autofill:hover,
.edit-profile-form input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #f02d0a3d inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.edit-profile-pictures-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  border-radius: 5px;
  background-color: #05050a;
}

.profile-pics-thumbnail-container {
  position: relative;
}

.profile-pics-thumbnail {
  position: relative;
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 2vw -0.6vw #faa9cb;
  -moz-box-shadow: 0px 0px 2vw -0.6vw #faa9cb;
  box-shadow: 0px 0px 2vw -0.6vw #faa9cb;
}

.profile-pics-thumbnail-delete {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  line-height: 10px;
  color: #f02d0a;
}

.profile-pics-thumbnail-delete:hover {
  cursor: pointer;
}

.edit-profile-add-pictures {
  display: flex;
  margin: 20px auto;
}

.add-picture-input {
  background-color: #faa9cb;
  padding: 0 10px;
  width: 350px;
  border-radius: 5px;
  border-bottom: 2px solid black;
}

.add-picture-button {
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 20px;
  outline: none;
  background-color: #05050a;
  color: #faa9cb;
}

@media (max-width: 880px) {
  .edit-profile-main-box-element {
    max-width: 96%;
  }

  .profile-pics-thumbnail {
    width: 15vw;
    height: 15vw;
    margin: 2vw;
  }

  .profile-pics-thumbnail-delete {
    top: 1vw;
    right: 1vw;
    font-size: 20px;
  }

  .add-picture-input {
    width: 35vw;
    font-size: 2vw;
  }

  .add-picture-button {
    margin-left: 2vw;
    font-size: 2vw;
    padding: 8px 20px;
  }
}

@media (max-width: 600px) {
  .profile-pics-thumbnail-delete {
    font-size: 16px;
  }

  .add-picture-input {
    font-size: 3vw;
  }

  .add-picture-button {
    font-size: 3vw;
  }
}

.edit-profile-button-submit {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  padding: 8px 40px;
  outline: none;
  background-color: #05050a;
  color: #faa9cb;
}

/* Footer */

.footer-container {
  position: relative;
  background-color: #05050af8;
  height: 350px;
  margin-top: 100px;
  color: #faa9cb;
}

.footer-container__vertical-center {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 865px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 880px) {
  .footer-container__vertical-center {
    max-width: 96%;
    margin: auto;
  }
}

.footer-container__first-divider,
.footer-container__social-media,
.footer-container__links {
  margin: 30px;
}

.footer-container__first-divider {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.footer-container__registration {
  margin-top: 30px;
}

.footer-container__registration button,
.footer-container__registration button:hover,
.footer-container__registration button:active {
  margin-left: 0;
  margin-top: 10px;
  padding: 3px 13px;
}

.footer-container__article-search__form__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #faa9cb;
  border-radius: 0;
}

.footer-container__article-search__form__input:focus {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #faa9cb;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}

.footer-container__article-search__form__button {
  border: none;
  font-size: 15px;
  font-weight: bold;
  padding: 3px 13px;
  margin: 0;
  outline: none;
  background-color: #faa9cb !important;
  color: #05050a !important;
}

.footer-container__article-search__form__button:focus,
.footer-container__article-search__form__button:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.footer-container__links a {
  color: #faa9cb;
  font-weight: bold;
}

.footer-container__links a:hover {
  color: #f02d0a;
  text-decoration: none;
}

.footer-container__social-media__insta a,
.footer-container__social-media__twitter a,
.footer-container__social-media__mail a {
  background-color: #faa9cb;
  display: inline-block;
  border-radius: 50%;
  padding: 4px 5px;
  width: 30px;
  margin: 5px;
}

.footer-container__social-media__insta img,
.footer-container__social-media__twitter img,
.footer-container__social-media__mail img {
  width: 100%;
  margin: auto;
}

@media (max-width: 400px) {
  .footer-container {
    height: 470px;
  }

  .footer-container__vertical-center {
    flex-direction: column;
    text-align: center;
  }

  .footer-container__article-search__form {
    display: flex;
    justify-content: center;
  }

  .footer-container__article-search__form button {
    margin: 11px 0 15px 5px;
  }

  .footer-container__article-search__form__input {
    width: 150px;
    margin: auto;
  }

  .footer-container__social-media {
    display: flex;
    justify-content: center;
  }

  .footer-container__links::before {
    content: "*****";
  }
}

/* About page */

.about-page-main-box-element {
  margin: auto;
  width: 865px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-left: 1px solid #05050a;
  border-right: 1px solid #05050a;
}

.about-title {
  font-family: "Anton", sans-serif;
  color: #faa9cb;
  background-color: #05050a;
  font-size: 100px;
  padding: 20px;
  margin: 0 10px;
}

@media (max-width: 880px) {
  .about-page-main-box-element {
    max-width: 96%;
    margin: auto;
  }

  .about-title {
    font-size: 10vw;
  }
}

.about-body {
  border-top: solid #05050a 5px;
  padding-top: 20px;
  width: 95%;
  margin: 10px auto;
  background: none;
  font-family: "Rokkitt", serif;
  font-size: 25px;
  text-align: justify;
}

@media (max-width: 880px) {
  .about-body {
    font-size: 18px;
  }
}

/* Privacy Policy page */

.privacy-page-main-box-element {
  margin: auto;
  width: 865px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-left: 1px solid #05050a;
  border-right: 1px solid #05050a;
}

.privacy-title {
  font-family: "Anton", sans-serif;
  color: #faa9cb;
  background-color: #05050a;
  font-size: 100px;
  padding: 20px;
  margin: 0 10px;
}

@media (max-width: 880px) {
  .privacy-page-main-box-element {
    max-width: 96%;
    margin: auto;
  }

  .privacy-title {
    font-size: 10vw;
  }
}

.privacy-body {
  border-top: solid #05050a 5px;
  padding-top: 20px;
  width: 95%;
  margin: 10px auto;
  background: none;
  font-family: "Rokkitt", serif;
  font-size: 25px;
  text-align: justify;
}

@media (max-width: 880px) {
  .privacy-body {
    font-size: 18px;
  }
}
