/* 
Hex : #f02d0a
Hex : #9b2d0f
Hex : #780f05
Hex : #3c0505
Hex : #05050a
 */

/* 
 I am using grids in this. So I will have to build fallbacks to older 
 browsers. (or maybe just add a message saying that I didn't have time yet
 So update your browser...)

 I have to then:
 1. Build accessible mobile-first layout without grid
 2. Use mobile-first layout as fall back for all browsers
 3. Use @supports to detect grid support
 display: grid is supported by some browsers, but oder 
 grids properties not. So actually do @support (gridd-template-columns)
 for example to be sure (take a deeper look into that)
 4. Create the layout with grid at the appropriate breakpoints
 of different screen sizes
 5. Take into consideration really large viewports (large screens)
 */

header,
footer,
nav,
article,
main {
  display: block;
  font-family: "Rokkitt", serif;
}

body {
  background-color: #f02d0a;
}

body,
body * {
  border: 0px;
  color: #05050a;
  margin: 0px;
  padding: 0px;
}

/* Page main description */

header {
  /* empty space for the fixed AuthNavBar */
  margin-top: 60px;
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 150px;
  text-align: center;
  text-transform: uppercase;
}

h1 span {
  color: #faa9cb;
}

h2 {
  text-align: center;
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
}

/* central box organization of the page */

.main-box-element {
  display: grid;
  grid-template-columns: 1fr 25px [start] 10px 325px 10px 325px 10px [end] 25px 1fr;
  text-align: justify;
}

.main-box-element:not(.navbar) {
  margin-top: 30px;
}

.main-box-element * {
  grid-column: start / end;
}

/* responsiveness of main description and box organization */

@media (max-width: 766px) {
  h1 {
    font-size: 19vw;
  }

  h2 {
    font-size: 4vw;
  }

  .main-box-element {
    grid-template-columns: 1fr 4% [start] 2% 43% 2% 43% 2% [end] 4% 1fr;
  }
}

/* article elements */

.article-list-group-item {
  background-color: #f02d0a;
  border: none;
}

.article-title {
  font-family: "Anton", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
}

.article-title:hover {
  color: #e69696;
  text-decoration: underline;
}

time {
  font-size: 20px;
  margin-bottom: 1em;
  font-family: "Rokkitt", serif;
}

.user-link {
  width: fit-content;
  height: fit-content;
}

.user-link:hover {
  color: #e69696;
  text-decoration: underline;
}

.link img {
  width: 80%;
  max-width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  transition: transform 0.2s;
}

.link img:hover {
  transform: scale(1.008);
}

p {
  background: none;
  font-family: "Rokkitt", serif;
  font-size: 25px;
  margin-bottom: 1em;
}

p .link {
  color: #e69696;
  text-decoration: none;
}

p .link:hover {
  text-decoration: underline;
}

/* alerts */

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 20px;
  border: none;
}

.alert-success, /* bootstrap */
.alert-success_msg /* passport.js */ {
  background-color: #faa9cb;
  color: #fdd9eb;
}

.alert-danger, /* bootstrap */
.alert-error  /* passport.js */ {
  background-color: #05050a;
  color: #721c24;
}

/* NavBar */

.nav-item {
  text-align: right;
}

.field-form-top {
  box-shadow: none;
  max-width: 140px;
  height: 30px;
  margin: 0 2px;
  padding-left: 10px;
  outline: none;
  border: none;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid black;
  background-color: #f02d0a;
  font-size: 17px;
  color: #05050a;
}

.field-form-top:focus {
  background-color: #f02d0a;
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid black;
  color: #05050a;
}

.button-form-top {
  border: none;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 13px;
  margin: 0;
}

.button-form-top:focus {
  outline: none;
  box-shadow: none;
}

.login,
.login:hover {
  background: #05050a;
  color: #faa9cb;
  margin-top: 1px; /* to align with register button  */
  margin-left: 10px;
}

.register,
.register:hover,
.logout,
.logout:hover {
  background: #faa9cb;
  color: #05050a;
  margin-left: 30px;
}

.greeting-outside-collapse {
  display: none;
}

@media (max-width: 766px) {
  .greeting-inside-collapse {
    display: none;
  }

  .greeting-outside-collapse {
    display: inline;
  }

  .form-top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .field-form-top {
    max-width: 140px;
  }

  .login {
    margin-left: 0;
    margin-top: 2px;
    padding: 8px 54px;
  }

  .register {
    margin-left: 0;
    margin-top: 2px;
    padding: 8px 41px;
  }
}

.modal-header {
  background-color: #faa9cb;
  border-bottom: 1px solid black;
}

.modal-title {
  font-family: "Anton", sans-serif;
}

.modal-body label {
  margin-top: 0.5rem;
}

.modal-body input {
  box-shadow: none;
  padding: 0 0 0 10px;
  outline: none;
  border: none;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid black;
  font-size: 17px;
  color: #05050a;
}

.submit-register,
.submit-register:hover {
  background-color: #05050a;
  color: #faa9cb;
  font-size: 17px;
  margin-top: 2rem;
}

/* styling the placeholders in different browsers */

.field-form-top::-webkit-input-placeholder /* Chrome/Opera/Safari */
 {
  color: #05050a;
  font-family: "Rokkitt", serif;
  font-size: 15px;
}
.field-form-top::-moz-placeholder /* Firefox 19+ */
 {
  color: #05050a;
  font-family: "Rokkitt", serif;
  font-size: 15px;
}
.field-form-top:-ms-input-placeholder /* IE 10+ */
 {
  color: #05050a;
  font-family: "Rokkitt", serif;
  font-size: 15px;
}
.field-form-top:-moz-placeholder /* Firefox 18- */
 {
  color: #05050a;
  font-family: "Rokkitt", serif;
  font-size: 15px;
}

.register-modal *:not(.alert):not(.submit-register) {
  background-color: #faa9cb;
  font-family: "Rokkitt", serif;
}

.modal-body input::-webkit-input-placeholder /* Chrome/Opera/Safari */
 {
  color: #05050a;
  font-family: "Rokkitt", serif;
  font-size: 14px;
}
.modal-body input::-moz-placeholder /* Firefox 19+ */
 {
  color: #05050a;
  font-family: "Rokkitt", serif;
  font-size: 14px;
}
.modal-body input:-ms-input-placeholder /* IE 10+ */
 {
  color: #05050a;
  font-family: "Rokkitt", serif;
  font-size: 14px;
}
.modal-body input:-moz-placeholder /* Firefox 18- */
 {
  color: #05050a;
  font-family: "Rokkitt", serif;
  font-size: 14px;
}

/* Removing the highlight from these elements when they are clicked */

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* 
This is for adding articles

.form-line {
  text-align: left;
}

.form-field {
  width: 100%;
  height: 40px;
}

#body-field {
  height: 400px;
}

 */
